html {
  direction: rtl;
  text-align: right;
}

.navbar-light .navbar-nav {
  margin-left: 0;
  margin-right: auto;
}
.navbar-light .navbar-nav .nav-item:first-child {
  padding-left: 15px;
}
.navbar-light .navbar-nav .nav-item:last-child {
  padding-right: 15px;
}

.main-banner-content form .input-newsletter {
  text-align: left;
}

.shape1 {
  right: auto;
  left: 0;
}

.single-followers-box .link {
  padding-left: 0;
  padding-right: 30px;
}
.single-followers-box .link i {
  left: auto;
  right: 0;
}

.about-content .btn-box .email {
  margin-left: 0;
  margin-right: 20px;
}

.single-social-statistics-box .link {
  padding-left: 0;
  padding-right: 30px;
}
.single-social-statistics-box .link i {
  left: auto;
  right: 0;
}

.audience-content .instagram-audience-content .audience-item .audience-header {
  text-align: left;
}

.overview-box .overview-content .content {
  padding-left: 0;
  padding-right: 40px;
}
.overview-box:nth-child(3) .overview-content .content {
  padding-left: 40px;
  padding-right: 0;
}

.video-content {
  margin-left: 0;
  margin-right: auto;
  padding-right: 0;
  padding-left: 50px;
}

.single-blog-post {
  padding-right: 0;
  padding-left: 250px;
}
.single-blog-post .post-image a img {
  border-radius: 100px 0 0 0;
}
.single-blog-post .post-content {
  right: auto;
  left: 0;
  margin-left: 0;
  margin-right: auto;
}
.single-blog-post .post-content .post-meta {
  padding: 0;
}

.form-control {
  padding-right: 15px;
}

.subscribe-content .btn-box .email {
  margin-left: 0;
  margin-right: 20px;
}

.footer-area ul li {
  margin-left: 5px !important;
}

.footer-area ul {
  text-align: left;
}

.contactModal.modal-dialog .modal-content button.close {
  right: auto;
  left: 35px;
}

.audience-image {
  padding-right: 0;
  padding-left: 30px;
}
.audience-image .image img {
  border-radius: 50px 0 0 0;
}

.single-followers-box {
  border-radius: 50px 0 0 0;
}

.single-social-statistics-box {
  border-radius: 50px 0 0 0;
}

.audience-content .instagram-audience-content .audience-item .audience-header {
  left: auto;
  right: 10px;
}

.single-partners-box a {
  border-radius: 50px 0 0 0;
}

.navbar-brand {
  margin-right: 0;
  margin-left: 1rem;
}

.blog-details-header .entry-meta ul {
  padding: 0;
}
.blog-details-header .entry-meta ul li {
  margin-right: 0;
  margin-left: 20px;
  border-left: 1px solid #eeeeee;
  border-right: none;
  padding-left: 20px;
  padding-right: 45px;
}
.blog-details-header .entry-meta ul li i {
  left: auto;
  right: 0;
}
.blog-details-header .entry-meta ul li:last-child {
  padding-right: 45px;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  border-left: none;
}

.blog-details-desc .article-content .wp-block-gallery.columns-3 {
  padding: 0;
}

blockquote::after, .blockquote::after {
  left: auto;
  right: 0;
}

.blog-details-desc .article-content .features-list {
  padding-right: 0;
}
.blog-details-desc .article-content .features-list li {
  padding-left: 0;
  padding-right: 17px;
}
.blog-details-desc .article-content .features-list li::before {
  left: auto;
  right: 0;
}
.blog-details-desc .article-footer .article-share .social {
  padding-right: 0;
  text-align: left;
}
.blog-details-desc .article-footer .article-share .social li span {
  margin-right: 0;
  margin-left: 5px;
}

.next-link-wrapper {
  padding-left: 0;
  padding-right: 15px;
}

.prev-link-wrapper {
  padding-right: 0;
  padding-left: 15px;
}
.prev-link-wrapper .image-next {
  margin-left: 0;
}
.prev-link-wrapper .image-prev {
  margin-right: 0;
  margin-left: 20px;
}

.comments-area .comment-author .avatar {
  left: auto;
  right: -65px;
}

.comments-area .comment-body {
  padding-left: 0;
  padding-right: 65px;
}

.comments-area .comment-respond .comment-form-cookies-consent {
  padding-left: 0;
  padding-right: 20px;
}
.comments-area .comment-respond .comment-form-cookies-consent input {
  left: auto;
  right: 0;
}

.comments-area .comment-respond input[type=date], .comments-area .comment-respond input[type=time], .comments-area .comment-respond input[type=datetime-local], .comments-area .comment-respond input[type=week], .comments-area .comment-respond input[type=month], .comments-area .comment-respond input[type=text], .comments-area .comment-respond input[type=email], .comments-area .comment-respond input[type=url], .comments-area .comment-respond input[type=password], .comments-area .comment-respond input[type=search], .comments-area .comment-respond input[type=tel], .comments-area .comment-respond input[type=number], .comments-area .comment-respond textarea {
  padding-right: 15px;
}

.section-title-two .link-btn {
  right: auto;
  left: 0;
}

.single-featured-videos-box .videos-content .videos-meta {
  padding: 0;
}

.about-content-two h2, .about-content-two h5, .about-content-two p, .about-content-two .btn-box {
  padding-right: 0;
  padding-left: 30px;
}
.about-content-two h2 .email, .about-content-two h5 .email, .about-content-two p .email, .about-content-two .btn-box .email {
  margin-left: 0;
  margin-right: 20px;
}

.single-top-stories-box .content .meta {
  padding: 0;
}

.single-blog-post-two .post-content .post-meta {
  padding: 0;
}

.join-content .btn-box .email {
  margin-left: 0;
  margin-right: 20px;
}

.yout-main-banner-content .btn-box ul {
  padding: 0;
  margin-left: auto;
  margin-right: 25px;
}
.yout-main-banner-content .btn-box ul li:last-child {
  margin-right: 8px;
}
.yout-main-banner-content .btn-box ul li:first-child {
  margin-right: 0;
}

.about-info-two ul {
  padding: 0;
}

.go-top {
  right: auto;
  left: 20px;
}

/* Resposive Style */
@media only screen and (max-width: 767px) {
  .audience-image {
    padding-left: 0;
  }
  .video-content {
    padding-left: 0;
  }
  .single-blog-post {
    padding-left: 0;
  }
  .footer-area ul {
    text-align: center;
  }
  .contactModal.modal-dialog .modal-content button.close {
    left: 15px;
  }
  .blog-details-desc .article-footer .article-share .social {
    text-align: center;
  }
  .comments-area .comment-author .avatar {
    position: absolute;
  }
  .blog-details-header .entry-meta ul li {
    padding-right: 0;
  }
  .yout-main-banner-content .btn-box ul {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .yout-main-banner-content .btn-box ul li {
    margin: 0 3px !important;
  }
  .about-content-two h2, .about-content-two h5, .about-content-two p, .about-content-two .btn-box {
    padding-left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .audience-image {
    padding-left: 0;
  }
  .video-content {
    padding-left: 0;
  }
  .single-blog-post {
    padding-left: 0;
  }
  .about-content {
    padding-left: 0;
  }
}/*# sourceMappingURL=rtl.css.map */